@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("./bg.png");
  background-size: cover;
  background-position: center center;
  font-family: "Robto", sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 2rem;
}

p {
  color: #29415e;
  font-size: 2rem;
  width: 700px;
  position: fixed;
  top: 4rem;
  left: 3rem;
}

h1 {
  background-color: #fff;
  display: inline-block;
  font-size: 5rem;
  font-weight: 200;
  padding: 1.5rem;
  position: fixed;
  top: 15rem;
  left: 2rem;
}

a {
  position: fixed;
  top: 2rem;
  right: 3rem;
  color: #000;
  text-decoration: none;
  font-size: 2.5rem;
  text-align: right;
}

ul
